<!-- Header -->
<div class="header right sticky-autohide">
  <div class="container">
      <!-- Logo -->
      <div class="header-logo">
          <h3><a href="/">Fausto De La Torre</a></h3>
          <!-- 
            <img class="logo-light" src="../assets/images/your-logo-light.png" alt=""> 
            <img class="logo-dark" src="../assets/images/your-logo-dark.png" alt="">
          -->
      </div>
      <!-- Menu -->
      <div class="header-menu">
          <ul class="nav">
            {% for item in site.data.navigation %}
              <li class="nav-item">
                <a class="nav-link {% if page.url == item.link %}current{% endif %}" href="{{ item.link }}">{{ item.name }}</a>
                {% if item.items %}
                  <ul class="nav-dropdown">
                    {% for subItem in item.items %}
                      <li class="nav-dropdown-item">
                        <a class="nav-dropdown-link" href="{{ subItem.link }}">{{ subItem.name }}</a>
                        {% if subItem.items %}
                          <ul class="nav-subdropdown">
                            {% for subSubItem in subItem.items %}
                              <li class="nav-subdropdown-item">
                                <a class="nav-subdropdown-link" href="{{ subSubItem.link }}">{{ subSubItem.name }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
      </div>
      <!-- Menu Extra -->
      <div class="header-menu-extra">
          <ul class="list-inline">
            <li><a href="https://www.linkedin.com/in/faustodelatorre/"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://twitter.com/faustodelatog"><i class="fab fa-twitter"></i></a></li>
          </ul>
      </div>
      <!-- Menu Toggle -->
      <button class="header-toggle">
          <span></span>
      </button>
  </div><!-- end container -->
</div>
<!-- end Header -->