<div class="row margin-top-50">
    <div class="col-6">
      <h6 class="font-family-tertiary font-small font-weight-normal uppercase">{{ data.labels.tags }}</h6>
      <ul class="list-inline-sm">
        {% for tag in page.tags %}
        <li><a class="text-link-1" href="#">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-6 text-right">
      <h6 class="font-family-tertiary font-small font-weight-normal uppercase">{{ data.labels.share }}</h6>
      <ul class="list-inline">
        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" onClick="showPopup('https://www.linkedin.com/sharing/share-offsite/?url={{ site.data.general.base_url }}{{ page.url }}');return(false);""><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
</div>

<script type="text/javascript">
  function showPopup(url) {
  newwindow=window.open(url,'name','height=500,width=520,top=200,left=300,resizable');
  if (window.focus) {newwindow.focus()}
  }
  </script>