{% case page.lang %}
    {% when 'es' %}
        {% assign data = site.data.es %}
        {% assign posts = site.posts | where: 'lang', 'es' %}
    {% when 'en' %}
        {% assign data = site.data.en %}
        {% assign posts = site.posts | where: 'lang', 'en' %}
    {% else %}
        {% assign data = site.data.es %}
        {% assign posts = site.posts | where: 'lang', 'es' %}
{% endcase %}
{% assign categories = posts | map: 'categories' | uniq | join: ',' | remove: page.lang | split: ',' %}