---
layout: default
---
{% include set_language.html %}
<!-- About section -->
<div class="section">
    <div class="container">
        <div class="row align-items-center col-spacing-50">
            <div class="col-12 col-lg-4">
                <img src="/assets/images/fausto_square.jpg" alt=""><!-- Image source -->
            </div>
            <div class="col-12 col-lg-8">
                <h6 class="font-family-tertiary font-small font-weight-normal uppercase">{{ data.labels.job_title }}</h6>
                <h3>Fausto De La Torre</h3>
                <p>{{ data.labels.bio }}</p>
                <div class="row margin-top-30">
                    <div class="col-12 col-lg-6">
                        <!-- Progress bar box -->
                        <div class="progress-box">
                            <h6 class="font-family-tertiary font-small font-weight-normal uppercase">{{ data.labels.technology_strategy }}</h6>
                            <div class="progress"></div>
                        </div>
                        <!-- Progress bar box -->
                        <div class="progress-box">
                            <h6 class="font-family-tertiary font-small font-weight-normal uppercase">{{ data.labels.enterprise_architecture }}</h6>
                            <div class="progress"></div>
                        </div>
                        <!-- Progress bar box -->
                        <div class="progress-box">
                            <h6 class="font-family-tertiary font-small font-weight-normal uppercase">{{ data.labels.software_development }}</h6>
                            <div class="progress"></div>
                        </div>
                        <!-- Progress bar box -->
                        <div class="progress-box">
                            <h6 class="font-family-tertiary font-small font-weight-normal uppercase">{{ data.labels.high_performing_teams }}</h6>
                            <div class="progress"></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <!-- Progress bar box -->
                        <div class="progress-box">
                            <h6 class="font-family-tertiary font-small font-weight-normal uppercase">{{ data.labels.leadership_mentoring }}</h6>
                            <div class="progress"></div>
                        </div>
                        <!-- Progress bar box -->
                        <div class="progress-box">
                            <h6 class="font-family-tertiary font-small font-weight-normal uppercase">{{ data.labels.consulting }}</h6>
                            <div class="progress"></div>
                        </div>
                        <!-- Progress bar box -->
                        <div class="progress-box">
                            <h6 class="font-family-tertiary font-small font-weight-normal uppercase">{{ data.labels.public_speaking }}</h6>
                            <div class="progress"></div>
                        </div>
                        <!-- Progress bar box -->
                        <div class="progress-box">
                            <h6 class="font-family-tertiary font-small font-weight-normal uppercase">{{ data.labels.lean_agile }}</h6>
                            <div class="progress"></div>
                        </div>
                    </div>
                </div><!-- end row(inner) -->
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- end About section -->