---
layout: default
---
{% include set_language.html %}
<!-- Hero section -->
<div class="section-lg bg-image bg-image-gradient-top" data-bg-src="../assets/images/fausto_banner.jpg">
    <div class="bg-white-06">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                    <h1 class="font-weight-extra-light line-height-150 margin-bottom-20">{{ data.labels.home_phrase1 }}</h1>
                    <p style="font-size: larger; margin-bottom: 5px;">{{ data.labels.home_phrase2 }}</p>
                    <p style="margin-bottom: 20px;">{{ data.labels.home_phrase3 }}</p>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
</div>
<!-- end Hero section -->	


<!-- About section -->
<div class="container">
    <div class="move-top-100">
        <div class="row col-spacing-20">
            {% for category in data.main_categories %}            
            <div class="col-12 col-lg-4">
                <div class="hoverbox-6 border-radius-025">
                    <img src="{{ category.image }}" alt="">
                    <div class="content">
                        <h5>{{ category.name }}</h5>
                        <p>{{ category.description }}</p>
                    </div>
                    <div class="hover-content">
                        <a class="button button-md button-radius button-outline-white" href="{{ category.link }}">{{ data.labels.learn_more }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div><!-- end row -->
    </div>
</div><!-- end container -->
<!-- end About section -->

<!-- Blog Posts -->
<div class="section-sm padding-top-0">
    <div class="container">
        <div class="row" style="margin: 20px;">
            <div class="col-12 col-sm-10 col-md-8 col-lg-12">
                <h2 class="font-weight-light margin-0">{{ data.labels.explore_posts }}</h2>
            </div>
        </div><!-- end row -->
        {% assign first_posts = posts | slice:0, 6 %}    
        <div class="container">
            <div class="portfolio-wrapper masonry masonry-column-3 masonry-spacing-40">
            {% for post in first_posts %}
                <!-- Masonry Item -->
                <div class="portfolio-item masonry-item {{ post.categories | join: ' ' }}">
                <div class="hoverbox-9 margin-bottom-20">
                    <a href="{{ post.url }}">
                    <img src="{{ post.image }}" alt="{{ post.title }}">
                    <div class="content bg-black-04">
                        <span class="font-family-tertiary font-small font-weight-normal uppercase text-white line-height-100">{{ post.date | date_to_string }}</span>
                    </div>
                    </a>
                </div>
                <h5 class="font-weight-normal"><a href="{{ post.url }}">{{ post.title }}</a></h5>
                <p>{{ post.excerpt }}</p>
                </div>
            {% endfor %}
            </div><!-- end masonry -->
        </div><!-- end container -->

        <div class="margin-top-40 margin-lg-top-50 text-center">
            <a class="button button-lg button-radius button-outline-grey" href="blog.html">{{ data.labels.view_more_posts }}</a>
        </div>
    </div><!-- end container -->
</div>
<!-- end Blog Posts -->

<!-- Scroll to top button -->
<div class="scrolltotop">
    <a class="button-circle button-circle-sm button-circle-dark" href="#"><i class="ti-arrow-up"></i></a>
</div>
<!-- end Scroll to top button -->